@import "../Variables/Variables.scss";
@import "../Breakpoints/Breakpoints.scss";
.container-styles {
  @include mobile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .map-container {
      height: auto;
      width: auto;
    }
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    max-height: 25%;
    width: 100%;
    height: 65em;
  }
}

.input-and-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
