@import "../Variables/Variables.scss";
@import "../Breakpoints/Breakpoints.scss";
.form-container {
  @include mobile {
    display: flex;
    max-width: 80%;
    width: 80%;
    height: 3em;
    border-radius: 8px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    max-width: 25em;
    width: 100%;
    height: 3em;
    border-radius: 8px;
  }
}

.input-container {
  @include mobile {
    display: flex;
  }
  // border-radius: 8px;
}

.form-wrapper {
  @include mobile {
    display: flex;
    min-width: 100%;
    width: 100%;
    input {
      // height: 3.5em;
      outline: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: none;
      border-bottom-right-radius: none;
      border: none;
      width: 100%;
      padding-left: 1em;
      line-height: 18px;
      font-size: 15px;
      font-family: $mediumFont;
    }

    button {
      display: flex;
      align-items: center;
      // box-sizing: border-box;
      justify-content: center;
      // min-height: 4.09em;
      // height: 4.09em;
      border: none;
      background-color: black;
      color: white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
      width: 4em;
    }
  }
  @include desktop {
    display: flex;
    width: 100%;
    input {
      height: 3.5em;
      outline: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: none;
      width: 100%;
      padding-left: 1em;
      line-height: 18px;
      font-size: 15px;
      font-family: $mediumFont;
    }

    button {
      display: flex;
      align-items: center;
      // box-sizing: border-box;
      justify-content: center;
      // min-height: 4.09em;
      // height: 4.09em;
      border: none;
      background-color: black;
      color: white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
      width: 4em;
    }
  }
}
